/* book body */
body {
    display: block;
    font-size: 1em;
    margin-bottom: 0;
    margin-left: 5pt;
    margin-right: 5pt;
    margin-top: 0;
    padding-left: 0;
    padding-right: 0;
    page-break-before: always
    }
p {
    line-height: 1.5em;
    text-indent: 1.0em;
    margin-bottom: 0;
    margin-top: 0.3em;
}
h1 {
    display: block;
    font-size: large;
    }
h2 {
    display: block;
    font-size: medium;
    }
img {
    text-align: center
    }
blockquote {
    display: block;
    line-height: 1.2em;
    margin-bottom: 0;
    margin-left: 2em;
    margin-right: 1em;
    margin-top: 0;
  }
blockquote p {
    line-height: 1.25em;
    text-indent: 0;
    margin-bottom: 0;
    margin-top: 0;
  }
pre {
    display: block;
    white-space: pre-wrap;
    line-height: 1.25em;
    margin-bottom: 0;
    margin-left: 2em;
    margin-right: 1em;
    margin-top: 0;
  }
p.blankpage {
    line-height: 1.3em;
    margin-top: 0;
}
/* title page*/
div.titlepage {
    display: block;
    text-align: center
    }
div.booktitle {
    font-size: larger;
    padding-top: 15%
    }
div.booksubtitle {
    font-size: large;
    padding-top: 5%
    }
div.bookauthor {
    font-size: medium;
    padding-top: 10%
    }
div.booksubauthor {
    font-size: medium;
    padding-top: 5%
    }
